//main index
.main-inicio {
	text-align: center;
	padding: 20px;
}
.container-index {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card-inicio {
	flex-basis: calc(33.33% - 20px);
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px;
	width: 300px;
	img {
		width:$width-predeterminadas;
		height: auto;
		object-fit: cover;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}
.texto {
	@include flex (column, center, center);
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
	text-align: center;
	padding: 5px;
	margin: 10px;
	align-content: stretch;
	flex-wrap: nowrap;
	h2 {
		color:$color-principal;
		font-size: $font-size-principal;
		font-family: 'Montserrat', sans-serif;
		font-weight: $font-weight-terciario;
		place-items: center center;
	}
}
.wsp {
	display:inline-block;
	margin: 10px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	transition: transform 0.3s ease;
	img {
		width: 50px;
		height: auto;
	}
	&:hover {
		transform: scale(1.1); 
	}
}

.btn {
	display: block;
	width: $width-predeterminadas;
	background-color: $color-septimo;
	margin-top: 10px;
	text-decoration: none;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
	&:hover {
		background-color: $color-octavo;
	}
}
