//Variables
$color-principal: darkcyan;
$color-secundario: cadetblue;
$color-terciario: black;
$color-cuarto: darkslategray;
$color-quinto: cornflowerblue;
$color_sexto:aqua;
$color-septimo:#049ce2;
$color-octavo: #dce444;
$color-footer: #e6eceb;
$color-decimo: white;
$width-predeterminadas: 100%;
$font-size-principal: 25px;
$font-weight-principal: 400;
$font-weight-secundario: 600;
$font-weight-terciario: 700;




//Listas
$colores:
darkcyan,
cadetblue,
black,
Darkslategray,
Cornflowerblue,
aqua,
#049ce2,
#dce444,
#e6eceb,
white;

$medidas:
100%;

$font-size:
400,
600,
700, 

//Maps